.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  max-height: 100dvh;
  min-height: 100dvh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pwd-icon {
  color: rgba(92, 93, 97, 0.911);
  bottom: 25%;
  right: 5%;
}

.main-container {
  margin-top: 60px;
}

@media screen and (max-width: 336px) {
  .main-container {
    margin-top: 95px;
  }
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  max-width: 250px;
  margin-left: -250px;
  transition: all 0.5s;
  word-wrap: break-word;
  background-color: var(--bs-body-bg);
  border: 1px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.125);
}
.sidebar.open {
  margin-left: 0;
  transition: 0.5s;
}
.nav-link.inactive{
  background-color: var(--bg-body-bg);
  color: var(--bs-body-color);
}
.nav-link.inactive .nav-icon {
  color: var(--bs-secondary-color);
}
.nav-link.inactive:hover {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-secondary-color);
}
.fs-small{
  font-size: 0.9em;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-left: 0;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 965px) {
  .sidebar{
    display: none;
  }

  .sidebar.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    height: 100dvh;
    min-width: 45%;
    max-width: 45%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
}

@media only screen and (max-width: 645px) {
  .sidebar.open {
    min-width: 65%;
    max-width: 65%;
  }
}

.table-container{
  max-height: calc(100dvh - 115px);
}

@media only screen and (max-width: 768px){
  .table-container{
    max-height: calc(100dvh - 200px);
  }
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */
.btn-admin{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--bs-body-bg);
  border-radius: 7px;
  outline: none;
  color: var(--bs-tertiary-color);
  border: 1px solid var(--bs-tertiary-bg);
  cursor: pointer;
}

/* Estilos para el botón cuando el cursor está sobre él */
.btn-admin:hover {
  background: var(--bs-body-bg);
  border-color: var(--bs-tertiary-bg);
}

/* ---------------------------------------------------
    TOP BAR
----------------------------------------------------- */
.btn-accion{
  padding: 6px 12px;
  border: 1px solid var(--bs-secondary-border-subtle);
  border-radius: 7px;
  background-color: var(--bs-body-bg);
  color: var(--bs-secondary-color);
}

.btn-accion:hover{
  color: var(--bs-primary);
}

/* ---------------------------------------------------
    STATUS BUTTONS STYLE
----------------------------------------------------- */
.bg-blue-badge{
  background-color: #0d6dfd1e;
  font-weight: 500;
  color: #0d6efd;
}
.bg-gray-badge{
  background-color: #adb5bd3d;
  font-weight: 500;
  color: #92979b;
}
.bg-primary-badge{
  background-color: #76e3762c;
  font-weight: 500;
  color: var(--bs-primary);
}
.bg-danger-badge{
  background-color: #dc35461f;
  font-weight: 500;
  color: #dc3545;
}
.bg-success-badge{
  background-color: #35dc4b1f;
  font-weight: 500;
}

/* ---------------------------------------------------
    SCROLL STYLE
----------------------------------------------------- */
/* Estilo para el scroll en navegadores WebKit*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Estilo para el track del scroll */
::-webkit-scrollbar-track {
  border-radius: 4px; /* Redondear los bordes del track */
}

/* Estilo para el thumb (el "scrollbar" móvil) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Estilo para el thumb cuando el usuario pasa el cursor sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background-color: var(--bg-body-bg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.date-picker-container {
  position: absolute;
  z-index: 10;
  left: 70px;
  top: 130px;
}

.card-measure:hover {
  background-color: var(--bs-secondary-bg);
}

.input-group-text:hover {
  background-color: var(--bs-secondary-bg);
}

.btn-close-bg {
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--bs-secondary-bg);
  border-radius: 5px;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

::selection{
  color: #fff;
  background: #555;
}

/* ---------------------------------------------------
    SELECT STYLE
----------------------------------------------------- */

select option:checked{
  color: #fff;
  background: #888;
}

select option:hover{
  color: #fff;
  background-color: #888 !important;
  box-shadow: 0 0 10px 100px #000 inset;
}

/* ---------------------------------------------------
    DROPDOWN STYLE
----------------------------------------------------- */
.dropdown-item-danger{
  background: var(--bs-body-bg);
  color: var(--bs-body-color);
}
.dropdown-item-danger:hover{
  background: #dc3545;
  color: #fff;
}

.checkbox-container {
  display: flex;
  gap: 8px;
  border-radius: 6px;
  padding: 4px 8px;
}
.checkbox-container:hover {
  cursor: pointer;
  background-color: var(--bs-secondary-bg);
}
